<mat-card *ngIf="user">
    <h1>Your Profile Details</h1>
    <!-- {{user | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img class="profile_img" src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg" alt="">
                    <h1 class="mt20">{{login.getUser().firstName}}  {{login.getUser().lastName}}        
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>User</td>
                                <td>{{login.getUser().username}}</td>
                            </tr>
                            <tr>
                                <td>UserId</td>
                                <td>EXAM{{login.getUser().id}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{login.getUser().phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{login.getUser().authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{login.getUser().enabled ? "ACTIVE" : "NOTACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary"> UPDATE</button>
        <button mat-raised-button> SHARE</button>
    </mat-card-actions>
</mat-card>